@import "../../../../styles/utils/index.scss";

.insurance-page {

	&__banner {
		display: flex;
		align-items: center;
		padding-bottom: 80px;
	}

	&__title {
		@extend .font-semibold;
		@extend .text-blue-500;
		max-width: 45%;
	}

	&__product-list {
		margin-top: -64px;

		display: flex;
		flex-direction: row;
		gap: 16px;
		overflow-x: auto;
		padding-bottom: 16px;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;

		z-index: 10;
		position: relative;
		margin-left: -24px;
		margin-right: -24px;
		padding-left: 24px;
		padding-right: 24px;

	}
}