@use "../../../../styles/utils/index.scss";
@use "../../../../styles/utils/colors.scss" as colors;


.previous-product-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__title {
    color: map-get(colors.$dark-gray, 500);
  }

  &__content {
    min-height: 100vh;
    background-color: map-get(colors.$dark-grayish-blue, 50);
  }

  &__actions {
    display: flex;
    gap: 16px;
  }
}


.back-home-card {
  margin-bottom: 24px;
	width: 100%;
	min-width: 290px;
	padding: 24px;
	border-radius: 8px;
	border: 1px solid #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  &__action {
    margin-top: 8px;
    display: flex;
    padding: 8px 16px;
    gap: 16px;
    color: map-get(colors.$blue, 500);
    border-radius: 8px;
    border: 2px solid map-get(colors.$blue, 500);;
  }
}