@use "../../../../styles/utils/index.scss";
@use "../../../../styles/utils/colors.scss" as colors;

.previous-product-detail {
  flex: 1;

  &__card {
    @extend .px-24;
    @extend .py-16;
    border: 1px solid #DEE3ED;
    border-radius: 8px;
  }

  &__record{
    display: flex;
    justify-content: space-between;
  }

  &__contact{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
  }


  &__actions {
    display: flex;
    gap: 16px;
  }
}

.circle-icon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    @extend .h-48;
    @extend .w-48;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #F4F6F9;
    border: 1px solid #E9ECF3;
  }

  &__description {
    @extend .text-center;
    @extend .text-blue-500;
    @extend .font-medium;
  }
}

.previous-product-fallback {
  background-color: map-get(colors.$dark-grayish-blue, 50);
}