@use "../../../styles/utils/colors.scss" as colors;

.error-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: var(--app-height);

  &__feedback {
    padding-top: 16px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}