.divider {
  height: 8px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    height: 1px;
    flex: 1;
    background-color: #DEE3ED;
  }

  &--vertical {
    justify-content: center;
    &::before {
      height: 100%;
      max-width: 1px;
      background-color: #D3D9E7;
    }
  }
}